<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/template/style/style_edit.css">
</head>
<body>
    <div class="container">
        <h2>Editar Usuário</h2>
        <form>
            <input type="text" placeholder="Nome" required>
            <input type="text" placeholder="Sobrenome" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Nova Senha">
            <input type="password" placeholder="Confirmar Nova Senha">
            <input type="submit" value="Salvar Alterações">
        </form>
    </div>   
</body>
</html>