<!DOCTYPE html>
<html>
<head>
    <title>Enviar Dados Meteorológicos</title>
</head>
<body>
    <h1>Enviar Dados Meteorológicos</h1>
    <form method="post" action="{% url 'weather_submit' %}">
        {% csrf_token %}
        <label for="temperature">Temperatura:</label>
        <input type="text" id="temperature" name="temperature"><br><br>
        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="atmosphericPressure">Pressão Atmosférica:</label>
        <input type="text" id="atmosphericPressure" name="atmosphericPressure"><br><br>
        <label for="humidity">Umidade:</label>
        <input type="text" id="humidity" name="humidity"><br><br>
        <label for="weather">Clima:</label>
        <input type="text" id="weather" name="weather"><br><br>
        <label for="date">Data:</label>
        <input type="datetime-local" id="date" name="date"><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>